.category-tratamiento {
  background: #1b7f3a !important;
}
.category-shampoo {
  background: #5000b9 !important;
}
.category-acondicionador {
  background: #e20084 !important;
}
.category-kit {
  background: #ff9900 !important;
}
.category-aceite {
  background: #0097fb !important;
}
.category-serum {
  background: #9100f8 !important;
}
.category-ampolla {
  background: #00fbbc !important;
}
.category-mascarilla {
  background: #f89100 !important;
}
.category-sin-categoría {
  background: #e0e0e0 !important;
  color: #333 !important;
}
